.subcontrol-container, .atlas-map-canvas-container, .mapboxgl-canvas .atlas-map-canvas, canvas {
    position: static !important;
}
.azure-map-logo {
    display: none;
}


#map-element {
    height: 75vh;
    width: 100%;
    margin-bottom: 1vh;
}