body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #585d5e !important;
  /* background-color: #e1e4eb; */
  background-image: url(./img/pattern.png);
  background-repeat: repeat;
  background-size: auto;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #929d9e;
  color: #333;
  font-family: 'PT Sans', sans-serif;
}

.app-header{
  text-align: center;
  color: #f29021;
  -webkit-text-stroke: .5px rgba(0, 0, 0, 0.603);
  font-size: 3.5rem;
  text-shadow: 1px 1px #3d3c39;
}

.container{
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap
}

nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  height: 44px;
  background: #adc9d1;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
}

.MuiTabs-root{
  background-color: #f29021;
}

nav a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;

  display: inline-block;
}

.friend-profile{
  min-height: 40vh;
  display: flex;
  align-items: center;
}

.friend-profile div{
  margin: 0 auto;

}

h3{
  width: 100%
}

.friend-list-container{
  margin: 4rem auto;
  background-color: #f7f7f7;
  width: 80vw;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.315);
  height: 100%;
}

#input-start, #input-end{
  width: 95%;
}

.incident-list{
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  padding: 1rem;
  margin: 1rem auto;
  width: 63vw;
  margin-top: 55px !important;
}

.title{
  width: 100%;
  font-size: 4rem;
  color: #16519f;
  text-align: center;
  padding-bottom: 14px;
  padding-top: 14px;

}

.friend-card{
  padding: 2.5rem;
  margin: 1rem auto;
  background-color: #adc9d1;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.24);
  color: black;
  width: 14vw;
}

#login-container {
  font-size: 1rem;
  border-radius: 2px;
  display: flex;
  align-items: center;
  width: 350px;
  background: #fff;
  margin-top: 12px;
  padding: .8rem;
  margin: auto;
}

#login-form {
  width: 100%;
  display: flex;
  flex-flow: column;
  text-align: center;
}

.login-header{
  text-align: center;
}

#new-acct-text{
  color: #929d9e;
  cursor: pointer;

}